{% extends 'base.html' %}
{% load static %}

{% block title %}<title>À propos</title>{% endblock %}
    
{% block content %}
    <div class="container mx-auto py-10 px-6">
        <h1 class="text-3xl font-bold text-center mb-8 text-gray-800">À propos 🚀</h1>
        <div class="bg-white shadow-lg p-8 rounded-2xl text-gray-700 text-lg leading-relaxed">
            <p class="mb-6">
                👋 <span class="font-semibold text-gray-900">Bienvenue sur notre plateforme</span> de génération et de lecture de QR Codes.
            </p>
            <p class="mb-6">
                🎯 Notre mission est de vous proposer un <span class="font-semibold text-gray-900">outil simple, rapide et efficace</span> pour créer et scanner vos QR Codes, afin de faciliter la communication et le partage d'informations.
            </p>
            <p class="mb-6">
                💻 Ce projet a été développé avec passion en utilisant <span class="font-semibold text-gray-900">Django et Tailwind CSS </span> pour vous offrir une <span class="italic">expérience fluide, moderne et agréable</span>.
            </p>
            <p class="font-semibold text-green-600 text-xl">Merci d'utiliser notre service et bonne génération de QR Codes ! 🎉</p>
        </div>
    </div>
{% endblock %}



    
   
   
