{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Générateur de QR Code</title>
    <link rel="stylesheet" href="{% static 'css/style_qr_generator.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'qrgenerator' %}">Générateur QR Code</a>
        <a href="{% url 'qrreader' %}">Lecteur QR code</a>
        <a href="{% url 'qrhistory' %}">Historique</a>
        <a href="{% url 'about' %}">À propos</a>
    </nav>
    <h1>Générateur de QR Code</h1>
    <div class="container">
        <div class="box">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Generate" id="">
            </form>   
        </div>
        <div class="box">
            <img src="{% static 'qr_img/QR000.png' %}" alt="QR Code ici">
        </div>
    </div>
    <div class="footer">
        <p>&copy; QRcodereader.net - Tous droits réservés.</p>
    </div> 
</body>
</html>
