{% extends 'base.html' %}
{% load static %}

    {% block title %}<title>Générateur de QR Code</title>{% endblock %}
    
    {% block content %}
        <h1>Générateur de QR Code</h1>
        <div class="container">
            <div class="box">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Générer" id="">
                </form>   
            </div>
            <div class="box">
                <img src="{% static 'qr_img/QR000.png' %}" alt="QR Code ici">
            </div>
        </div>
    {% endblock %}
