{% extends 'base.html' %}
{% load static %}

    {% block title %}<title>Historique</title>{% endblock %}
    
    {% block content %}
    <h1>Historique</h1>
    <!-- <div class="container">
        <div class="header">
            <span>SCANNED ITEMS(1)</span>
            <div>
                <button>Télécharger tout</button>
                <button>Effacer tout</button>
            </div>
        </div>
        <div class="items">
            <div class="item">
                <span>1</span>
                <a href="https://translate.google.fr/?hl=fr&sl=auto&tl=fr&op=translate">URL: Google Translate</a>
                <button>❌</button>
            </div>
        </div>
    </div> -->
    {% endblock %}


    
    