{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanned Items</title>
    <link rel="stylesheet" href="{% static 'css/style_history.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'qrgenerator' %}">Générateur QR Code</a>
        <a href="{% url 'qrreader' %}">Lecteur QR code</a>
        <a href="{% url 'qrhistory' %}">Historique</a>
        <a href="{% url 'about' %}">À propos</a>
    </nav>
    <h1>Historique</h1>
    <!-- <div class="container">
        <div class="header">
            <span>SCANNED ITEMS(1)</span>
            <div>
                <button>Télécharger tout</button>
                <button>Effacer tout</button>
            </div>
        </div>
        <div class="items">
            <div class="item">
                <span>1</span>
                <a href="https://translate.google.fr/?hl=fr&sl=auto&tl=fr&op=translate">URL: Google Translate</a>
                <button>❌</button>
            </div>
        </div>
    </div> -->
    <div class="footer">
        <p>&copy; QRcodereader.net - Tous droits réservés.</p>
    </div>
</body>
</html>