{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanner QR Code</title>
    <link rel="stylesheet" href="{% static 'css/style_qr_reader.css' %}">
</head>
<body>
    <nav>
        <a href="#">Scanner QR Code</a>
        <a href="#">Lecteur QR code</a>
        <a href="#">Générateur QR Code</a>
        <a href="#">Historique</a>
        <a href="#">À propos</a>
    </nav>
    <h1>Scanner QR Code</h1>
    <div class="container">
        <div class="box">
            <h3>Importer un fichier</h3>
            <button>Télécharger</button>
        </div>
        <div class="box">
            <h3>Articles numérisés</h3>
            <p>Aucun résultat pour l’instant</p>
        </div>
    </div>
    <div class="footer">
        <p>&copy; QRScanner.net - Tous droits réservés.</p>
    </div>
</body>
</html>