{% extends 'base.html' %}
{% load static %}

    {% block title %}<title>Lecteur QR Code</title>{% endblock %}
    
    {% block content %}
    <h1>Lecteur QR Code</h1>
    <div class="container">
        <div class="box">
            <h3>Importer un fichier</h3>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Télécharger" id="">
            </form>
        </div>
        <div class="box">
            {% if image_url %}
                <h3>Image téléchargée :</h3>
                <img src="{{ image_url }}" alt="QR Code" ">
                {{result}}
            {% endif %}
        </div>
    </div>
    {% endblock %}


    
   