body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav {
    background-color: #E9F1FA;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    border-bottom: 2px solid #ddd;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
h1 {
    margin: 20px 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.box {
    background-color: white;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    height: 450px;
}
.box form{
    width: 400px;
    height: 400px;
}

.box img{
    width: 400px;
    height: 400px;
}
.qr-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.qr-options button {
    padding: 8px;
    border: 1px solid #ccc;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px; /* Espace entre le label et l'input */
  }
  
input {
    padding: 8px;
    width: 80%;
    font-size: 11px;
}
button, input[type="submit"] {
    background-color: #3b82f6; /* Bleu vif */
    color: white; /* Texte blanc */
    font-size: 16px; /* Taille du texte */
    padding: 10px 20px; /* Espacement intérieur */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur en main au survol */
    font-weight: bold; /* Texte en gras */
    transition: background-color 0.3s ease; /* Animation fluide */
    width: auto;
  }
button:hover, input[type="submit"]:hover {
    background-color: #2563eb;

  }
.footer {
    margin-top: 30px;
    padding: 20px;
    background: #D6EAF8  ;
    border-top: 2px solid #ddd;
}
.qr-preview {
    border: 2px solid #ddd;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}